# OpenCalc preferences
mode=scientific
language=en
decimal_separator=comma
history_visible=true
history_width=210
graph_visible=false
shortcut.clear=C, Escape
shortcut.clear_entry=Delete, NumpadDelete
shortcut.back=Backspace, Left, NumpadLeft
shortcut.equals=Enter, NumpadEnter, =
shortcut.sign=F9
shortcut.decimal=Period, Comma, NumpadDecimal, NumpadSeparator
shortcut.add=Plus, NumpadAdd
shortcut.subtract=-, −, NumpadSubtract
shortcut.multiply=*
shortcut.numpad_multiply=NumpadMultiply, ×
shortcut.divide=/, ÷, NumpadDivide
shortcut.percent=%
shortcut.square=@
shortcut.reciprocal=R, Shift+R
shortcut.copy=Ctrl+C, Ctrl+Insert, Ctrl+NumpadInsert
shortcut.paste=Ctrl+V, Shift+Insert, Shift+NumpadInsert
shortcut.undo=Ctrl+Z
shortcut.redo=Ctrl+Y
shortcut.help=F1
shortcut.memory_clear=Ctrl+L
shortcut.memory_recall=Ctrl+R
shortcut.memory_store=Ctrl+M
shortcut.memory_add=Ctrl+P
shortcut.digit0=0, Numpad0
shortcut.digit1=1, Numpad1
shortcut.digit2=2, Numpad2
shortcut.digit3=3, Numpad3
shortcut.digit4=4, Numpad4
shortcut.digit5=5, Numpad5
shortcut.digit6=6, Numpad6
shortcut.digit7=7, Numpad7
shortcut.digit8=8, Numpad8
shortcut.digit9=9, Numpad9
shortcut.hex_a=A, Shift+A
shortcut.hex_b=B, Shift+B
shortcut.hex_c=Shift+C
shortcut.hex_d=D, Shift+D
shortcut.hex_e=E, Shift+E
shortcut.hex_f=F, Shift+F
shortcut.open=(
shortcut.close=)
shortcut.power=Y, Shift+Y
shortcut.sin=S, Shift+S
shortcut.cos=O, Shift+O
shortcut.tan=T, Shift+T
shortcut.ln=N, Shift+N
shortcut.log=L, Shift+L
shortcut.dms=M, Shift+M
shortcut.exp=X, Shift+X
shortcut.pi=P, Shift+P
shortcut.inv=I, Shift+I
shortcut.hyp=H, Shift+H
shortcut.fe=V, Shift+V
shortcut.factorial=!
shortcut.cube=#
shortcut.and=&
shortcut.or=|
shortcut.xor=^
shortcut.lsh=<
shortcut.not=~
shortcut.int=Semicolon
shortcut.stats=Ctrl+S
shortcut.stats_data=Insert, NumpadInsert
shortcut.stats_average=Ctrl+A
shortcut.stats_sum=Ctrl+T
shortcut.stats_deviation=Ctrl+D
shortcut.degrees=F2
shortcut.word=F3
shortcut.grads=F4
shortcut.hex=F5
shortcut.radians_decimal=F6
shortcut.oct=F7
shortcut.bin=F8
